body {
    text-align: center;
    margin: 0;
}

.title-bar{
    background-color:black;
    padding-left: 16px;
    padding-right: 16px;   
}

.menu {
    background-color: black;
    color: blue;
    height: 56px;
    margin: 0;
    display: flex;
    align-items: center;
}

.logo_glyph {
    width: 24px;
    height: 24px;
    padding-right: 16px;
}
.logo_type {
    height: 20px;

}


h1 {
    font-family: Monoton;

    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
