body {
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table, tr, td {
    border: 1px solid #ad8f8f;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 40px;
}

td {
    width: 40px;
}

input[type=number] {
    width: 6em;
    height:2em;
    border-radius: 5px;
    outline:none;
    border: 2px solid #dadada;
    margin-left:10px;
    margin-right:10px;
}

input[type=number]:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

input[type=submit] {
    width: 8em;
    height: 2em;
    border-radius:5px;
    background-color: #5c6ac4;
    margin: 3px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    outline:none;
    margin-left:10px;
}

input[type=color] {
    width: 8em;
    height: 2em;
    border-radius: 5px;
    padding:2px;
    outline:none;
}

#sizePicker {
    margin-top: 5%;
}

#colorPicker,
#pixel_canvas {
    margin-top: 2%;
}

span {
    font-size: 20px;
}