body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border-collapse: collapse;
    border: 1px solid black;
}

table {

    margin: 0 auto;
}

tr {
    height: 10px;
    width: 150%;
}

td {
    width: 10px;
}

input[type=number] {
    width: 6em;
}

table#pixelCanvas {
    padding: 1em;
    border: none;
}