html{
    height: 100%;
}
.pixel-art {
  display: block;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  border: 1px solid;
  border-color: #dddddd;
  box-shadow: 0 0 3px 2px #eeeeee;
}
header {
  padding: 15px 0;
  background-color: #2fcb6f;
  border-bottom: 5px solid;
  border-bottom-color: #259e57;
}
.pixel-art h1 {
  color: #f7f7f7;
  text-align: center;
  margin: 0;
}
.pixel-art-grid-form,
.pixel-art-color {
  display: block;
  align-items: center;
  padding: 15px;
  background-color: #f0f0f0;
  border-bottom: 1px solid;
  border-bottom-color: #cccccc;
}
.pixel-art-grid-form h2,
.pixel-art-color h2 {
  display: inline-block;
  min-width: 200px;
  padding: 0 30px;
  margin: 0;
  text-align: left;
}
.pixel-art-grid-form form,
.pixel-art-color input[type=color] {
  display: inline;
}
.pixel-art-grid-form form input[type=number] {
  min-width: 250px;
  padding: 8px 3px;
  border-radius: 4px;
  border: 1px solid;
  border-color: #dddddd;
  box-shadow: 0 0 2px #dddddd;
}
.pixel-art-grid-form form input[type=submit] {
  min-width: 100px;
  padding: 6px 3px;
  color: #f7f7f7;
  font-size: 14px;
  border-radius: 4px;
  background-color: #2fcb6f;
  border: 1px solid;
  border-color: #259e57;
  cursor: pointer;
}
.pixel-art-grid-form form input[type=submit]:focus {
  outline: none;
}
.pixel-art-color {
  background-color: #eeeeee;
}
.pixel-art-canvas {
  display: block;
}
.pixel-art-canvas h2 {
  text-align: center;
}
.pixel-art-canvas table,
.pixel-art-canvas tr,
.pixel-art-canvas td {
  border: 1px solid;
  border-color: #000000;
}
.pixel-art-canvas table {
  margin: 20px auto;
  border-collapse: collapse;
}
.pixel-art-canvas td {
  width: 20px;
  height: 20px;
}